.app {
  margin: 2rem 0;
}

.app-heading {
  text-align: center;
}

.progress-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

body {
  background-color: #c7ecee;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

nav.MuiPagination-root {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
